# 1. 조건문 예제

## 1.1 짝수와 홀수 판별하기

In [16]:
number = int(input("정수를 입력하세요: "))

if number % 2 == 0:
    print(f"{number}은(는) 짝수입니다.")
else:
    print(f"{number}은(는) 홀수입니다.")

정수를 입력하세요:  55

55은(는) 홀수입니다.

## 1.2 성적에 따른 학점 출력

In [15]:
# 점수를 입력받아 학점을 출력
score = int(input("점수를 입력하세요 (0 ~ 100): "))

if score >= 90:
    print("A학점입니다.")
elif score >= 80:
    print("B학점입니다.")
elif score >= 70:
    print("C학점입니다.")
elif score >= 60:
    print("D학점입니다.")
else:
    print("F학점입니다.")

점수를 입력하세요 (0 ~ 100):  55

F학점입니다.

## 1.3 로그인 시스템

In [4]:
# 간단한 로그인 시스템
user_id = "amin"
user_pw = "1234"

input_id = input('사용자 아이디를 입력하세요')
input_pw = input('사용자 비밀번호를 입력하세요')

if user_id == input_id:
    if user_pw == input_pw:
        print("로그인 성공!")
    else:
        print('비밀번호가 틀립니다')
else:
    print('등록된 사용자 아이디가 틀립니다')

사용자 아이디를 입력하세요 amin
사용자 비밀번호를 입력하세요 1234

로그인 성공!

In [7]:
# 간단한 로그인 시스템
user_id = "admin"
user_pw = "1234"

input_id = input('사용자 아이디를 입력하세요')
input_pw = input('사용자 비밀번호를 입력하세요')

if user_id == input_id and user_pw == input_pw:
        print("로그인 성공!")
else:
    print('등록된 사용자 아이디 또는 비밀번호가 틀립니다')

사용자 아이디를 입력하세요 admin
사용자 비밀번호를 입력하세요 1234

로그인 성공!

# 2. 반복문 예제

## 2.1 1부터 10까지 숫자 출력 (for문)

In [12]:
for i in range(1,11,1): # (초기값, 목표값+1, 증가값)
    print(i, end=" ")

1 2 3 4 5 6 7 8 9 10

In [13]:
text_list = ['a','b','c','d']

for txt in text_list:
    print(txt, end=" ")

a b c d

## 2-2 특정 단 구구단 출력

In [15]:
#사용자로부터 구구단 단수를 입력받아 출력
dan = int(input("출력할 구구단의 단수를 입력하세요 : "))

for i in range(1,10):
    print(f'{dan} x {i} = {dan * i}')

출력할 구구단의 단수를 입력하세요 :  5

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45

## 2.3 리스트 요소 출력

In [16]:
#리스트에 저장된 과일 이름 출력
fruits = {"사과", "바나나", "포도", "오렌지"}

for fruits in fruits:
    print(fruits)

오렌지
사과
바나나
포도

## 2.4 for 문 사용해서 1~100 까지 합한 결과 출력

In [24]:
total = 0

for i in range(1,101): #증가값 1은 생략 가능
    total += i

print('합계 = ', total)

합계 =  5050

## 2.5 while 문 사용해서 1~100까지 합한 결과 출력

In [28]:
total = 0
cnt = 0
while True:
    if cnt > 99:
        break
        
    cnt += 1
    total += cnt

print('합계 = ', total)

합계 =  5050

In [30]:
total = 0
cnt = 0
while cnt < 100:      
    cnt += 1
    total += cnt

print(f"1부터 {cnt}까지의 합은 {total}입니다.")

1부터 100까지의 합은 5050입니다.

## 2.6 continue 사용 예제

In [36]:
# 1 부터 10까지 출력하는데 짝수만 출력하기

for i in range(1,11):
    if i % 2 == 1:
        continue
    print(i, end = " ")

2 4 6 8 10

## 2.7 별 출력 프로그램

In [41]:
print('*' * 10)

**********

In [42]:
# 사용자로 부터 숫자를 입력받아서 해당 숫자만큼 별을 출력하기

n = int(input(' 출력할 줄 수를 입력하세요 :'))

for i in range(1,n+1):
    print('*' * i)

 출력할 줄 수를 입력하세요 : 5

*
**
***
****
*****

## 2.8 숫자 피라미드 만들기

In [59]:
n = int(input(' 피라미드의 높이를 입력하세요 : '))

for i in range(1,n+1,1):
    print(" " * (n-i), end = " ")
    for j in range(1,i+1,1):
        print(j, end = " ")
    print()

 피라미드의 높이를 입력하세요 :  5

     1
    1 2
   1 2 3
  1 2 3 4
 1 2 3 4 5

## 2.9 구구단 옆으로 출력하기 (미완성)

In [3]:
for i in range(1,10,3):
    print(f'\n   {i}단          {i+1}단           {i+2}단  ')
    for j in range(1,10):
        print(f' {i} X {j} = {i*j}   {i+1} X {j} = {(i+1)*j}   {i+2} X {j} = {(i+2)*j}')

   1단          2단           3단
 1 X 1 = 1   2 X 1 = 2   3 X 1 = 3
 1 X 2 = 2   2 X 2 = 4   3 X 2 = 6
 1 X 3 = 3   2 X 3 = 6   3 X 3 = 9
 1 X 4 = 4   2 X 4 = 8   3 X 4 = 12
 1 X 5 = 5   2 X 5 = 10   3 X 5 = 15
 1 X 6 = 6   2 X 6 = 12   3 X 6 = 18
 1 X 7 = 7   2 X 7 = 14   3 X 7 = 21
 1 X 8 = 8   2 X 8 = 16   3 X 8 = 24
 1 X 9 = 9   2 X 9 = 18   3 X 9 = 27

   4단          5단           6단
 4 X 1 = 4   5 X 1 = 5   6 X 1 = 6
 4 X 2 = 8   5 X 2 = 10   6 X 2 = 12
 4 X 3 = 12   5 X 3 = 15   6 X 3 = 18
 4 X 4 = 16   5 X 4 = 20   6 X 4 = 24
 4 X 5 = 20   5 X 5 = 25   6 X 5 = 30
 4 X 6 = 24   5 X 6 = 30   6 X 6 = 36
 4 X 7 = 28   5 X 7 = 35   6 X 7 = 42
 4 X 8 = 32   5 X 8 = 40   6 X 8 = 48
 4 X 9 = 36   5 X 9 = 45   6 X 9 = 54

   7단          8단           9단
 7 X 1 = 7   8 X 1 = 8   9 X 1 = 9
 7 X 2 = 14   8 X 2 = 16   9 X 2 = 18
 7 X 3 = 21   8 X 3 = 24   9 X 3 = 27
 7 X 4 = 28   8 X 4 = 32   9 X 4 = 36
 7 X 5 = 35   8 X 5 = 40   9 X 5 = 45
 7 X 6 = 42   8 X 6 = 48   9 X 6 = 54
 7 X 7 = 49   8 X 7 = 56   9 X 7 = 63
 7 X 8 = 56   8 X 8 = 64   9 X 8 = 72
 7 X 9 = 63   8 X 9 = 72   9 X 9 = 81

#  원 6개 그리기

In [4]:
import turtle

In [1]:
import turtle
t = turtle.Turtle()

for _ in range(6):
    t.circle(100)
    t.left(60)

turtle.exitonclick()

# n 각형을 그리기
- 사용자로부터 정수 n(3 이상) 을 입력받아서 한변의 길이가 100인 정 n각형을 그리는 프로그램을 작성하시오

In [1]:
import turtle
import time
t = turtle.Turtle()

n = int(input('3 이상의 정수를 입력 :'))

for _ in range(n):
    time.sleep(1)
    t.forward(100)
    t.left(360/n)
    
turtle.exitonclick

del t
try:
    turtle.bye()
except:
    pass

3 이상의 정수를 입력 : 6

In [6]:
import turtle
import time
t = turtle.Turtle()

for _ in range(5):
    time.sleep(1)
    t.forward(200)
    t.left((360/5)*2)

t.right(72)
t.circle(100)

turtle.exitonclick()
del t
try:
    turtle.bye()
except:
    pass